// Create Post Form Styles
.create-post-container {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  padding: 0 !important;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, 0.5);
  }
}

.create-post-form {
  width: 30vw;
  border: 1px solid rgba(#808080, 0.25);
  padding: $spacer * 1.5;
  border-radius: 25px;
  background: rgba(white, 0.85);

  h1 {
    text-align: center;
    font-size: $main-fs;
    margin-bottom: $spacer;

    span {
      color: $primary;
      font-family: $font;
      font-size: $main-fs * 1.15;
      margin: 0 $spacer-small * 0.15;
    }
  }

  &__submit {
    outline: none;
    border: none;
    background: $primary;
    color: white;
    font-size: $main-fs * 0.6;
    padding: $spacer-small * 0.5 $spacer-md;
    border-radius: 25px;
    font-weight: bold;
    margin: 0 auto;
    transition: all 200ms ease-out;

    svg {
      margin-right: $spacer-small * 0.5;
    }

    &:hover {
      cursor: pointer;
      background: $dark-primary;
    }
  }
}
