/* Variables */

/* Colors */

$black-shadow: rgba(0, 0, 0, 0.5);

/* Font */
$main-fs: 1.5rem;
$md-fs: $main-fs * 1.5;
$lg-fs: $md-fs * 1.5;
$main-fw: bold;
$font: "Pacifico", serif;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 2;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$spacer-xlg: $spacer-lg * 2;
