/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My Code */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Variables */
/* Colors */
/* Font */
/* Spacers */
.between-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.around-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
.spinner-container p {
  color: white;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.05rem;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #20dbc2;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #20dbc2;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #20dbc2;
  }
  50% {
    box-shadow: 0 0 0 #20dbc2;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #20dbc2;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
.auth-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.auth-container__auth-bg {
  position: absolute;
  top: -5vh;
  left: -5vh;
}
.auth-container__auth-img {
  position: absolute;
  top: 40vh;
  left: 0;
  width: 50vw;
  height: 50vh;
  z-index: 1000;
  object-fit: contain;
}
.auth-container__title {
  position: absolute;
  top: 15vh;
  left: 7.5vw;
  z-index: 200;
  color: white;
}
.auth-container__title h1 {
  font-family: "Pacifico", serif;
  font-size: 3.7125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.auth-container__title h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.auth-form {
  height: 100vh;
  width: 30vw;
  position: absolute;
  right: 10vw;
  top: 10vh;
}
.auth-form__title {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 2rem;
}
.auth-form__input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.auth-form__input-box label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.auth-form__input-box input {
  outline: none;
  border: 1px solid rgba(238, 238, 238, 0.93);
  padding: 0.75rem;
  border-radius: 10px;
  font-size: 0.75rem;
  transition: all 100ms ease-out;
}
.auth-form__input-box input:focus {
  border: 2px solid #20dbc2;
}
.auth-form__show {
  width: fit-content;
  outline: none;
  border: none;
  background: transparent;
  color: #20dbc2;
  margin-top: 0.5rem;
  font-weight: bold;
  transition: all 200ms ease-out;
}
.auth-form__show:hover {
  cursor: pointer;
  color: #1bb9a4;
}
.auth-form__error {
  font-size: 0.75rem;
  color: red;
  background: rgba(255, 97, 97, 0.5);
  padding: 0.45rem;
  border-radius: 5px;
  margin-top: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}
.auth-form__error-box input {
  border-color: #ff6161;
}
.auth-form__valid-box input {
  border: 2px solid #27d827;
}
.auth-form__submit {
  display: block;
  outline: none;
  border: none;
  color: white;
  font-size: 0.9rem;
  background: #20dbc2;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 4rem;
  margin: 0 auto;
  transition: all 300ms ease-out;
}
.auth-form__submit:hover {
  cursor: pointer;
  background: #1bb9a4;
  transform: scale(0.9);
}
.auth-form__link {
  display: block;
  color: #808080;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem;
}
.auth-form__link span {
  color: #20dbc2;
  font-weight: 500;
}
.auth-form__link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .auth-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .auth-container__auth-bg {
    top: -30vh;
  }
  .auth-container__auth-img {
    display: none;
  }
  .auth-container__title {
    top: 10vh;
    left: 0;
  }
  .auth-container__title h1 {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 4rem;
  }
  .auth-container__title h2 {
    text-align: center;
  }
  .auth-form {
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
    top: 50vh;
    padding: 0 1.25rem;
  }
}
.sidebar {
  position: fixed;
  background-color: #00002b;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.25rem;
}
.sidebar__title {
  font-size: 1.5rem;
  font-family: "Pacifico", serif;
  text-align: left;
  color: white;
}
.sidebar__logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

hr {
  width: 100%;
  border-color: rgba(238, 238, 238, 0.25);
  margin-top: 1.25rem;
}

.sidebar__profile-box {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.sidebar__profile {
  width: 7.5rem;
  height: 7.5rem;
  background: white;
  border-radius: 50%;
}

.sidebar__username {
  text-align: center;
  color: white;
  background: #1bb9a4;
  padding: 0.35rem 2rem;
  border-radius: 25px;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.sidebar__link {
  background: rgba(25, 118, 210, 0.1);
  padding: 1rem;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 200ms ease-out;
}
.sidebar__link svg {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.sidebar__link svg path {
  fill: white;
}
.sidebar__link:hover {
  background: #1976d2;
}

.sidebar__link-active {
  background: rgba(25, 118, 210, 0.35);
}

.sidebar__logout {
  outline: none;
  border: none;
  background: #ff6161;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  font-weight: bold;
  transition: all 200ms ease-out;
}
.sidebar__logout:hover {
  cursor: pointer;
  transform: scale(0.95);
  background: #ff3a3a;
}

.home-row {
  align-items: flex-start;
}

.filter {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 25vw;
  margin-left: 4rem;
}
.filter__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.filter__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.filter__price-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.filter__price-item label {
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}
.filter__price-item select {
  background: white;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.filter__separator {
  font-size: 20px;
  color: #555;
}
.filter__options {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.filter__options .filter__option {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 48%;
}
.filter__options .filter__option label {
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}
.filter__options .filter__option select {
  background: white;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.filter__apply {
  background: #5fd3b3;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s;
}
.filter__apply:hover {
  background: #4ab89c;
}

.home-main {
  width: 42.5vw;
}

.search__box {
  width: 100%;
}
.search__box .search-bar {
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 5px;
}
.search__box input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  font-size: 0.975rem;
}
.search__box svg path {
  fill: #808080;
}
.search__box .search__close {
  outline: none;
  border: none;
  background: transparent;
  transition: all 200ms ease-out;
}
.search__box .search__close svg path {
  fill: #ff3a3a;
}
.search__box .search__close:hover {
  cursor: pointer;
  transform: scale(0.8);
}

.browse-info {
  background: white;
  width: 20vw;
  min-height: 40vh;
  border-radius: 10px;
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}
.browse-info img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.browse-groups {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

.browse-info__more {
  outline: none;
  border: none;
  background: transparent;
  color: #20dbc2;
  font-weight: bold;
  padding: 0;
  margin-top: 1.25rem;
  transition: all 200ms ease-out;
}
.browse-info__more:hover {
  cursor: pointer;
  color: #1bb9a4;
}

.card-shadow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.active-card {
  position: relative;
  align-items: flex-start;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}
.active-card .between-row {
  flex-direction: column;
  height: 50vh;
  padding: 1.25rem;
}
.active-card img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.active-card .house-info__box {
  min-width: 20vw;
  height: 100%;
  padding: 0;
}
.active-card .house-info__rent {
  font-size: 1.5rem;
}
.active-card .house-info__address {
  font-size: 1.125rem;
  margin-top: 0.85rem;
  margin-bottom: 1rem;
}
.active-card__btn {
  outline: none;
  border: none;
  background: #ff6161;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  padding: 0.5rem 4rem;
  transition: all 200ms ease-out;
}
.active-card__btn:hover {
  cursor: pointer;
  background: #ff3a3a;
}
.active-card .active-card__join {
  background: #20dbc2;
}
.active-card .active-card__join:hover {
  background: #1bb9a4;
}

.house-info__members {
  margin-top: 1rem;
  font-weight: bold;
}

.active-card__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  background: transparent;
}
.active-card__close svg {
  width: 1rem;
  height: 1rem;
}
.active-card__close svg path {
  fill: #808080;
  transition: all 200ms ease-out;
}
.active-card__close:hover {
  cursor: pointer;
}
.active-card__close:hover svg path {
  fill: #20dbc2;
}

.create-post-container {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  padding: 0 !important;
}
.create-post-container .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.create-post-form {
  width: 30vw;
  border: 1px solid rgba(128, 128, 128, 0.25);
  padding: 3rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.85);
}
.create-post-form h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.create-post-form h1 span {
  color: #20dbc2;
  font-family: "Pacifico", serif;
  font-size: 1.725rem;
  margin: 0 0.15rem;
}
.create-post-form__submit {
  outline: none;
  border: none;
  background: #20dbc2;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 4rem;
  border-radius: 25px;
  font-weight: bold;
  margin: 0 auto;
  transition: all 200ms ease-out;
}
.create-post-form__submit svg {
  margin-right: 0.5rem;
}
.create-post-form__submit:hover {
  cursor: pointer;
  background: #1bb9a4;
}

.house-shadow {
  background: rgba(0, 0, 0, 0.15) !important;
}

.house-info {
  position: absolute;
  top: 5vh;
  right: 5vw;
  background: white;
  width: 20vw;
  min-height: 40vh;
  border-radius: 10px;
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}
.house-info img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.house-info__box {
  padding: 1rem;
}
.house-info__rent, .house-info__sub-rent {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.house-info__rent span, .house-info__sub-rent span {
  color: #808080;
  font-size: 0.9rem;
  font-weight: 400;
}
.house-info__sub-rent {
  font-size: 0.975rem;
  color: #20dbc2;
  margin-top: 0.75rem;
}
.house-info__address {
  margin-bottom: 0.5rem;
}
.house-info__beds, .house-info__baths {
  color: #808080;
}
.house-info__beds {
  border-right: 1px solid #808080;
  padding-right: 0.35rem;
  margin-right: 0.35rem;
}
.house-info__add {
  outline: none;
  border: 1px solid #20dbc2;
  color: #20dbc2;
  border-radius: 25px;
  padding: 0.35rem 2rem;
  background: transparent;
  margin-top: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: all 200ms ease-out;
}
.house-info__add svg {
  margin-right: 0.5rem;
}
.house-info__add svg path {
  fill: #20dbc2;
}
.house-info__add:hover {
  cursor: pointer;
  background: #20dbc2;
  color: white;
}
.house-info__add:hover svg path {
  fill: white;
}

body {
  overflow-x: hidden;
}

.App {
  display: flex;
}

.main-container {
  padding: 2.5rem;
  margin-left: 20vw;
}/*# sourceMappingURL=main.css.map */