// Home Styles

/* button Design */

.button {
    background-color: transparent;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.sidebar {
    background-color: #00002B;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
    text-align: left;
    font-family: $font;
    font-size: xx-large;

    &__logo {
        width: 20px;
        height: 30px;
        margin-right: 10px;        
      }
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: small;
        
        button {
            background: $secondary-color;
            border: none;
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
    
            &:hover {
            background: lighten($secondary-color, 10%);
            }
        }
    }
    
}

.line{
    width: 255px;
    margin-left: 0px;   
}

