// Setup
@import "setup/reset";
@import "setup/vars";
@import "utils/alignments";

// Standalone
@import "./standalone/spinner";

// Pages
@import "./pages/auth/auth";
@import "./pages/home/home";
@import "./pages/createPostForm/createPostForm";

body {
  overflow-x: hidden;
}

.App {
  display: flex;
}

.main-container {
  padding: $spacer * 1.25;
  margin-left: 20vw;
}
